@model List<TestAspCSDb.Models.Domains.Client>
@{
}
<hi>Клиенты</hi>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Id</td>
                <td>@client.Surname</td>
                <td>@client.Name</td>
                <td>@client.Patronymic</td>
                <td>@client.DateOfB.ToString("dd-MM-yyyy")</td>
                <td><a href="Clients/View/@client.Id">Редактировать</a></td>
            </tr>
        }
    </tbody>
</table>